* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* ==========================================================================
   01. GENERAL & BASIC STYLES
   ========================================================================== */

   @font-face {
    font-family: 'Gilroy-Bold';
    src: url('../public/assets/fonts/gilroy-bold-cufonfonts/Gilroy-Bold.ttf');
      font-style: normal;
      font-weight: normal;
  }
  
  @font-face {
    font-family: 'Gilroy-Heavy';
    src: url('../public/assets/fonts/gilroy-bold-cufonfonts/Gilroy-Heavy.ttf');
      font-style: normal;
      font-weight: normal;
  }
  
  @font-face {
    font-family: 'Gilroy-Light';
    src: url('../public/assets/fonts/gilroy-bold-cufonfonts/Gilroy-Light.ttf');
      font-style: normal;
      font-weight: normal;
  }

  @font-face {
    font-family: 'Gilroy-Medium';
    src: url('../public/assets/fonts/gilroy-bold-cufonfonts/Gilroy-Medium.ttf');
      font-style: normal;
      font-weight: normal;
  }

  @font-face {
    font-family: 'Gilroy-SemiBold';
    src: url('../public/assets/fonts/gilroy-bold-cufonfonts/Gilroy-Regular.ttf');
      font-style: normal;
      font-weight: normal;
  }
  
  body {
    font-family: 'Gilroy-Bold', 'Gilroy-Medium', 'Gilroy-SemiBold';
    -webkit-font-smoothing: antialiased;
    margin: 0 !important;
  }
  
  a {
    text-decoration: none;
  }
  